/* Make the navbar completely transparent */
body {
    background-color: rgb(5, 2, 101);
    font-family: Lato, Roboto, sans-serif !important;
}
/* header.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent !important;
    z-index: 10;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 50px;
    margin-top: 50px;
} */

header {
    background-color: rgb(5, 2, 101) !important;
    color: white !important;
}
header.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(5, 2, 101) !important;
    z-index: 10;
    box-shadow: none;
    border: none;
    padding: 20px;
    margin: 0;
}

header .navbar-brand {
    color: #ffffff !important;
}

header .nav-link {
    color: #ffffff !important; /* White text */
}

header .nav-link.sign-in, #signOutElement {
    margin-left: auto;
    color: #ffffff !important; /* White text */
    text-decoration: none;
    
}

/* Add padding to the top of the carousel */
#carouselExampleIndicators {
    padding-top: 0; /* Adjust based on header height */
}

/* Optional: Change link colors on hover */
header .nav-link:hover {
    color: rgba(255, 255, 255, 0.8) !important; /* Slightly less white on hover */
}

.carousel-indicators button {
    color: transparent;
    border: none;
    width: 15px !important; 
    height: 15px !important;
    border-radius: 50%;
    border: none;
    margin: 0 10px !important;
}

.carousel-inner img {
    height: 800px; /* Set your desired height */
    object-fit: cover; /* Ensures images cover the space without distortion */
    width: 100%; /* Makes sure the image stretches to the width of the carousel */
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0px;
    /* margin-top: 100px; */
}


.booking-section{
    background-color: white;
    color: white;
    text-align: center;
    padding: 40px 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.third-img {
    object-fit: cover;
    width: 100%;
}

h3, p {
    color: white;
}

.pikaday-dark {
	--backgroundColor: #2d3748;
	/* --textColor: #f7fafc;
	--currentDateTextColor: #3182ce;
	--selectedDateBackgroundColor: #3182ce;
	--selectedDateTextColor: #f7fafc;

	--labelTextColor: #3182ce;
	--weekDaysTextColor: #a0aec0; */

	background-color: var(--backgroundColor);
	border-radius: 10px;
	padding: 0.7rem;
	z-index: 2000;
    margin: 6px 0 0 0;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
	font-family: inherit;
}

.about-footer{
    width: 100%;
}

p.mb-1 {
    color: black !important;
}